<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="css/style.css">
  {% load static %}
</head>
<body>

  <header class="header">
    <div class="container header__container">
      <img class="header__logo" src="img/logo-blue.svg" alt="logo">
      <ul class="navbar">
        <li class="navbar__item"><a href="../timetable.html">Расписание</a></li>
        <li class="navbar__item navbar__item--active">Моё портфолио</li>
        <li class="navbar__item"></li>
      </ul>
      <a href="../personal.html">Личный кабинет</a>
    </div>
  </header>
  
  <section class="filtres">
    <div class="container">
      Фильтры? Поле поиска?
    </div>
  </section>

  <section class="portfolio">
    <div class="container portfolio__container">
      <div class="portfolio__card" id="new">
        <img src="img/plus.svg" alt="">
      </div>
      <div class="portfolio__card portfolio__card--sport">
        <h2 class="card-title">Олимпиада (спорт)</h2>
        <span>Новороссийск</span><span>2020г</span>
        <p>Достижение: 1 место</p>
      </div>
      <div class="portfolio__card portfolio__card--creation">
        <h2 class="card-title">Творчество</h2>
        <span>Новороссийск</span><span>2020г</span>
        <p>Достижение: 1 место</p>
      </div>
      <div class="portfolio__card portfolio__card--science">
        <h2 class="card-title">Олимпиада (наука)</h2>
        <span>Новороссийск</span><span>2020г</span>
        <p>Достижение: 1 место</p>
      </div>
      <div class="portfolio__card portfolio__card--science">
        <h2 class="card-title">Олимпиада (наука)</h2>
        <span>Новороссийск</span><span>2020г</span>
        <p>Достижение: 1 место</p>
      </div>
      <div class="portfolio__card portfolio__card--creation">
        <h2 class="card-title">Творчество</h2>
        <span>Новороссийск</span><span>2020г</span>
        <p>Достижение: 1 место</p>
      </div>
      <div class="portfolio__card portfolio__card--sport">
        <h2 class="card-title">Олимпиада (спорт)</h2>
        <span>Новороссийск</span><span>2020г</span>
        <p>Достижение: 1 место</p>
      </div>
    </div>
  </section>



</body>
</html>